<form name="{{ .Title | lower }}-submission"{{ if .Params.formspree_form_id }} action="https://formspree.io/f/{{ .Params.formspree_form_id }}"{{ end }} method="post" accept-charset="utf-8">
  <fieldset id="{{ .Title | lower }}-inputs">
    <legend>{{ .Params.form_fields.legend }}</legend>
    <label for="full-name">{{ .Params.form_fields.full_name_label }}</label>
    <input type="text" name="name" id="full-name" placeholder="{{ .Params.form_fields.full_name_placeholder }}" required>
    <label for="email-address">{{ .Params.form_fields.email_label }}</label>
    <input type="email" name="_replyto" id="email-address" placeholder="{{ .Params.form_fields.email_placeholder }}" required>
    <label for="message">{{ .Params.form_fields.message_label }}</label>
    <textarea rows="6" name="message" id="message" placeholder="{{ .Params.form_fields.message_placeholder }}" required></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="{{ .Params.name | title }} {{ .Params.form_fields.subject_suffix }}">
  </fieldset>
  <input type="submit" value="{{ .Params.submit_button_label }}">
  {{ if .Params.show_poweredby_formspree }}<small>{{ .Params.powered_by.prefix }} <a href="{{ .Params.powered_by.href }}" target="_blank" rel="noopener noreferrer">{{ .Params.powered_by.provider }}</a></small>{{ end }}
</form>
