<head>
  {{ partial "meta.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  <meta name="author" content="Lara Srinath">
  <meta property="article:author" content="Lara Srinath">
  <link rel="canonical" href="{{ .Permalink }}">

  {{ if .IsHome }}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Lara Srinath",
    "alternateName": "larasrinath",
    "jobTitle": "Anaplan Solution Architect and Master Anaplanner",
    "description": "Enterprise planning architect, Master Anaplanner and builder working across supply chain, finance, data and AI.",
    "url": "{{ .Site.BaseURL }}",
    "image": "{{ "img/avatar.png" | absURL }}",
    "sameAs": [
      "https://www.linkedin.com/in/larasrinath/",
      "https://github.com/larasrinath",
      "https://x.com/larasrinath",
      "https://www.instagram.com/larasrinath"
    ]
  }
  </script>
  {{ end }}

  <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  <link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;1,9..144,300;1,9..144,400&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}

  {{ $styles := resources.Get "scaffold.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  {{ $panelsetJs := resources.Get "js/panelset.js" | js.Build "panelset.js" | minify | fingerprint }}
  <script src="{{ $panelsetJs.RelPermalink }}" type="text/javascript"></script>
  {{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
  <script src="{{ $mainJs.RelPermalink }}" type="text/javascript"></script>
  {{ $customJs := resources.Get "js/custom.js" | minify | fingerprint }}
  <script src="{{ $customJs.RelPermalink }}" type="text/javascript" defer></script>
</head>
