{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw7 center tc">
    <div class="pv5">
      <i class="fa fa-lock gray" style="font-size: 4rem"></i>
      <h1 class="f-headline fw5 mv3" style="font-size: 8rem; line-height: 1">404</h1>
      <h2 class="f3 fw5 mb3 gray">Uh-oh, Roll-back!</h2>
      <p class="f5 measure center lh-copy gray">
        Looks like the admin archived this page.<br>
        The page you're looking for doesn't exist or has been moved.
      </p>
      <div class="mt4">
        <a href="/" class="f5 link dim ba ph3 pv2 mb2 dib mr2 dark-gray">Home</a>
        <a href="/about/" class="f5 link dim ba ph3 pv2 mb2 dib mr2 dark-gray">About</a>
        <a href="/blog/" class="f5 link dim ba ph3 pv2 mb2 dib mr2 dark-gray">Blog</a>
        <a href="/project/" class="f5 link dim ba ph3 pv2 mb2 dib dark-gray">Projects</a>
      </div>
    </div>
  </section>
</main>
{{ end }}
