{{ $labels := site.Data.ui.components.auth_selector }}
<input type="radio" name="auth-global" id="auth-global-oauth" class="auth-global-radio" checked>
<input type="radio" name="auth-global" id="auth-global-cert" class="auth-global-radio">
<input type="radio" name="auth-global" id="auth-global-basic" class="auth-global-radio">
<div class="auth-selector">
  <div class="auth-selector-label">{{ $labels.label }}</div>
  <div class="auth-selector-choices">
    <label for="auth-global-oauth"><i class="fas fa-key"></i> {{ $labels.oauth }}</label>
    <label for="auth-global-cert"><i class="fas fa-certificate"></i> {{ $labels.certificate }}</label>
    <label for="auth-global-basic"><i class="fas fa-user-lock"></i> {{ $labels.basic }}</label>
  </div>
</div>
