<input type="radio" name="os-global" id="os-global-win" class="os-global-radio" checked>
<input type="radio" name="os-global" id="os-global-mac" class="os-global-radio">
<input type="radio" name="os-global" id="os-global-lin" class="os-global-radio">
<div class="os-selector">
  <div class="os-selector-label">Pick your platform:</div>
  <div class="os-selector-choices">
    <label for="os-global-win"><i class="fab fa-windows"></i> Windows</label>
    <label for="os-global-mac"><i class="fab fa-apple"></i> macOS</label>
    <label for="os-global-lin"><i class="fab fa-linux"></i> Linux</label>
  </div>
</div>
